* {

}

.toHide {
  display: none;
}

.focusedButton {
  background-color: rebeccapurple !important;
  color: white !important;
}

.siteHeader {
  background: linear-gradient(0deg, #cc0044 0%, #ff0077 10%, #ff0077 90%, #ff3377 100%);
}

.siteHeader .currentUserName {
  display: inline;
  text-decoration: underline;
}

.siteHeader .userIcon {
  margin-right: 0.2em;
}

.sectionHeader {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.simpleForm button {
  margin: 0.5em 0.5em 0em 0em;
}

#txtNewBlogTitle {
  width: 30em;
}

#txtNewBlogAuthor {
  width: 20em;
}

#txtNewBlogUrl {
  width: 30em;
}

.blogListContainer {
  margin-top: 2em;
}

.blogListItem {
  width: 30em;
  background: lightYellow;
  border: 1px solid darkgoldenrod;
  margin-top: 0.3em;
  padding: 0.5em;
  font-size: 95%;
}

.blogListItem .pnlButtons {
  margin-top: -0.15em;
  float: right;
  margin-left: 1em;
}

.blogListItem .pnlButtons * {
  font-size: 60%;
}

.blogListItem .header .blogTitle {
  display: inline;
  font-weight: bold;
}

.blogListItem .header .blogTitle::after {
  content: " ";
}

.blogListItem .header .blogAuthor {
  display: inline;
  font-size: 70%;
}

.blogListItem .header .blogAuthor::before {
  content: "(";
}

.blogListItem .header .blogAuthor::after {
  content: ")";
}

.blogListItem .blogUrl {
  margin-top: 0.5em;
  font-size: 70%;
  overflow: hidden;
  overflow-wrap: break-word;
}

.blogListItem .footer {
  margin-top: 0.5em;
  font-size: 80%;
}

.blogListItem .footer .adder {
  display: inline;
  margin-right: 1em;
}

.blogListItem .footer .blogLikes,
.blogListItem .footer .blogDeletion {
  display: inline;
}

.blogListItem .footer .btnLike {
  margin-left: 0.5em;
  font-size: 80%;
}

.blogListItem .footer .btnDelete {
  margin-left: 2em;
  font-size: 80%;
}

.notificationBox {
  width: 30em;
  font-size: 90%;
  font-weight: bold;
  vertical-align: middle;
  visibility: hidden;
}

.infoVisible {
  padding: 0.5em;
  margin-bottom: 1em;
  background: #eeffee;
  border: 1px solid #aabbaa;
  color: darkgreen;
  visibility: visible;
}

.errorVisible {
  padding: 0.5em;
  margin-bottom: 1em;
  background: #ffeeee;
  border: 1px solid #bbaaaa;
  color: maroon;
  visibility: visible;
}
