* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0em;
}

button {
  padding: 0.1em 0.7em;
}

.siteHeader {
  height:           3em;
  line-height:      3em;
  padding:          0em 1em;
  color:            white;
  background-color: #113355;
  font-size:        90%;
  font-weight:      bold;
}

.userInfo .currentUserName {
  margin-right:     1em;
}

.contentContainer {
  padding:          1em;
}

.sectionHeader {
  margin-left: -0.1em;
}

.sectionHeader.first {
  margin-top: 0em;
}

.simpleForm {
  display: table;
}

.simpleForm .row {
  display: table-row;
}

.simpleForm .row label {
  display:  table-cell;
  padding-bottom: 0.5em;
}

.simpleForm .row input {
  display:  table-cell;
  margin-left: 1em;
}

.simpleForm .row .cell {
  display:  table-cell;
}

.simpleForm button {
  margin: 0.5em 0em 0em 1em;
}

#txtNewBlogTitle {
  width: 30em;
}

#txtNewBlogAuthor {
  width: 20em;
}

#txtNewBlogUrl {
  width: 30em;
}

.notificationBox {
  width: 30em;
  font-size: 90%;
  font-weight: bold;
  vertical-align: middle;
  visibility: hidden;
}

.infoVisible {
  padding: 0.5em;
  margin-bottom: 1em;
  background: #eeffee;
  border: 1px solid #aabbaa;
  color: darkgreen;
  visibility: visible;
}

.errorVisible {
  padding: 0.5em;
  margin-bottom: 1em;
  background: #ffeeee;
  border: 1px solid #bbaaaa;
  color: maroon;
  visibility: visible;
}
